.main {
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: auto;
  overflow: hidden;
  text-align: center;
  list-style-type: none;
  background-color: var(--blue);
}

.topAd {
  position: fixed;
  bottom: -5px;
  width: 100%;
  z-index: 1000;
}

.topAd img {
  width: 100%;
}

.topAd a {
  width: 100%;
}

.wrapper {
  margin: 10px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 30px;
  font-size: 1rem;
}

.wrapper img {
  width: 100%;
  height: auto;
}

.title {
  margin-top: 20px;
}

.container {
  width: 90%;
  min-width: 200px;
  padding: 0.2em 0.5em;
  margin: 0 auto;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  background: var(--blue);
  box-shadow: 0px 0px 0px 10px var(--blue);
  border: dashed 2px white;
}

.container li {
  text-align: left;
}