.main {
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: auto;
  overflow: hidden;
  text-align: center;
  list-style-type: none;
  background-color: var(--blue);
}

.topAd {
  position: fixed;
  bottom: -5px;
  width: 100%;
  z-index: 1000;
}

.topAd img {
  width: 100%;
}

.topAd a {
  width: 100%;
}

.wrapper {
  margin: 10px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 30px;
  font-size: 1rem;
}

.wrapper img {
  width: 100%;
  height: auto;
}

.title {
  margin-top: 20px;
}

.container {
  width: 90%;
  min-width: 200px;
  padding: 0.2em 0.5em;
  margin: 0 auto;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  background: var(--blue);
  box-shadow: 0px 0px 0px 10px var(--blue);
  border: dashed 2px white;
}

.container li {
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* グレーのオーバーレイ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  position: relative;
}

.closeButton {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 0;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}