.main {
  font-size: 24px;
  width: 100vw;
  /* outline: dashed 1px black; */
  /* 準備 */
  position: relative;
  min-height: 97vh;
  overflow: hidden;
  text-align: center;
  list-style-type: none;

  background-color: var(--blue);
}

.wrapper {
  margin: 10px;
  padding: 50px 0;
  background-color: #fff;
  border-radius: 30px;
  font-size: 1rem;
}

.title {
  font-family: "RocknRoll One", sans-serif;

}



.container {
  width: 30vw;
  min-width: 200px;
  padding: 0.2em 0.5em;
  margin: 0 auto;
  margin-top: var(--space-sm);
  background: var(--blue);
  box-shadow: 0px 0px 0px 10px var(--blue);
  border: dashed 2px white;
}



.container li {
  text-align: left;
}